@model OnlineStore.MVC.Models.Cart.CartViewModel

<div class="icon-container">
    <img src="~/resources/icons/shopping-cart.png" width="20" alt="">
    <div class="counter">
        <span id="cartQuantity" class="number">@Model.ItemsQuantity</span>
    </div>
</div>

<div class="mini-cart">
    <div class="content">
        <div class="cart-head">
            Cart (@Model.ItemsQuantity)
        </div>
        <div class="cart-body">
            <ul class="products mini">
                @if (Model.Items.Count > 0)
                {
                    foreach (var cartItem in Model.Items)
                    {
                        if (cartItem.Product != null)
                        {
                            <li class="item">
                                <div class="thumbnail object-contain">
                                    <a href="#"><img src="@cartItem.Product.Image" alt=""></a>
                                </div>
                                <div class="item-content">
                                    <p><a href="/product?id=@cartItem.ProductId">@cartItem.Product.Name</a></p>
                                    <span class="price">
                                        <span>@cartItem.Product.UnitPrice.ToString("C")</span>
                                        <span class="fly-item"><span>@cartItem.Quantity</span>x</span>
                                    </span>
                                </div>
                                <div class="item-remove from-minicart" data-itemid="@cartItem.ProductId">
                                    <a href="#"><img src="~/resources/icons/close.png" alt=""></a>
                                </div>
                            </li>
                        }
                    }
                }
            </ul>
        </div>
        <div class="cart-footer">
            <div class="subtotal">
                <p>Subtotal</p>
                <p><strong>@Model.Subtotal.ToString("C")</strong></p>
            </div>
            <div class="actions">
                <a asp-controller="Order" asp-action="PersonalInfo" class="primary-button">Checkout</a>
                <a asp-controller="Cart" asp-action="Details" class="primary-button">View Cart</a>
            </div>
        </div>
    </div>
</div>