@model OnlineStore.MVC.Models.Wishlist.WishlistViewModel

@{
    ViewData["Title"] = "Wishlist";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="single-cart">
    <div class="container">
        <div class="wrapper">
            <div class="breadcrumb">
                <ul class="flexitem">
                    <li><a asp-controller="Home" asp-action="Index">Home</a></li>
                    <li>Wishlist</li>
                </ul>
            </div>
            <div class="page-title">
                <h1>Wishlist</h1>
            </div>
            <div class="products one cart">
                <div class="flexwrap">
                    <form action="" class="form-cart">
                        <div class="item">
                            <table id="cart-table">
                                <thead>
                                    <tr>
                                        <th>Item</th>
                                        <th>Price</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (Model.Products != null && Model.Products.Count() > 0)
                                    {
                                        @foreach (var product in Model.Products)
                                        {
                                            <tr>
                                                <td class="flexitem">
                                                    <div class="thumbnail object-contain">
                                                        <a asp-controller="Catalog" asp-action="Product" asp-route-id="@product.Id"><img src="@product.Image" alt="Image"></a>
                                                    </div>
                                                    <div class="content">
                                                        <strong><a asp-controller="Catalog" asp-action="Product" asp-route-id="@product.Id">@product.Name</a></strong>
                                                        <p>RAM: 16 Gb</p>
                                                    </div>
                                                </td>
                                                <td>@product.UnitPrice.ToString("C")</td>
                                                <td>
                                                    <a href="#" class="item-add-to-cart" data-itemid="@product.Id">
                                                        <img src="~/resources/icons/shopping-cart.png" alt="">
                                                    </a>
                                                    <a href="#" class="item-remove from-wishlist" data-itemid="@product.Id">
                                                        <img src="~/resources/icons/close.png" alt="">
                                                    </a>
                                                </td>
                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </form>
                    <div class="cart-summary styled">
                        <div class="item">
                            <div class="cart-total">
                                <table>
                                    <tbody>
                                        <tr>
                                            <th>Subtotal</th>
                                            <td>@Model.Subtotal.ToString("C")</td>
                                        </tr>
                                        <tr>
                                            <th>Discount</th>
                                            <td>@Model.Discount.ToString("C")</td>
                                        </tr>
                                        <tr class="total">
                                            <th>TOTAL</th>
                                            <td><strong>@Model.Total.ToString("C")</strong></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<partial name="_Newsletter" />