@model OnlineStore.MVC.Models.CatalogViewModel

@{
    ViewData["Title"] = $"{Model.FiltersGroup?.Category?.Name}";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section styles {
    <link rel="stylesheet" href="~/css/double-slider.min.css" asp-append-version="true" />
}

<div class="single-category">
    <div class="container">
        <div class="wrapper">
            <div class="column">
                <header>
                    <div class="breadcrumb">
                        <ul class="flexitem">
                            <li><a asp-controller="Home" asp-action="Index">Home</a></li>
                            @if (Model.ProductsPage?.Category != null)
                            {
                                <li>@Model.ProductsPage.Category.Name</li>
                            }
                        </ul>
                    </div>
                    <div class="page-title">
                        <h1>@Model.ProductsPage?.Category?.Name</h1>
                    </div>
                </header>
                <div class="holder">
                    <div class="row sidebar">
                        <div class="filter">
                            @await Component.InvokeAsync("CatalogFilters", new { model = Model.FiltersGroup }) 
                        </div>
                    </div>
                    <div class="section">
                        <div class="row">
                            <div class="cat-head">
                                <div class="applied-filters">
                                    <button class="clear-filters">
                                        <span>Clear all (11)</span>
                                        <i class='bx bx-x'></i>
                                    </button>
                                    <div class="filters-group-head">
                                        <span class="filters-group-name">Filter type:</span>
                                        <button class="remove-filter">
                                            <span>Filter name</span>
                                            <i class='bx bx-x'></i>
                                        </button>
                                    </div>
                                    <button class="remove-filter">
                                        <span>Filter name</span>
                                        <i class='bx bx-x'></i>
                                    </button>
                                    <button class="remove-filter">
                                        <span>Filter name</span>
                                        <i class='bx bx-x'></i>
                                    </button>
                                    <button class="remove-filter">
                                        <span>Filter name</span>
                                        <i class='bx bx-x'></i>
                                    </button>
                                    <div class="filters-group-head">
                                        <span class="filters-group-name">Filter type:</span>
                                        <button class="remove-filter">
                                            <span>Filter name</span>
                                            <i class='bx bx-x'></i>
                                        </button>
                                    </div>
                                    <button class="remove-filter">
                                        <span>Filter name</span>
                                        <i class='bx bx-x'></i>
                                    </button>
                                    <button class="remove-filter">
                                        <span>Filter name</span>
                                        <i class='bx bx-x'></i>
                                    </button>
                                </div>
                                <div class="cat-navigation flexitem">
                                    <div class="item-filter desktop-hide">
                                        <a href="#" class="filter-trigger label">
                                            <img src="~/resources/icons/sort.png" alt="">
                                            <span>Filter</span>
                                        </a>
                                    </div>
                                    <div class="item-sortir">
                                        <div class="label">
                                            <span class="mobile-hide">Sort by <span class="selected-value">Default</span></span>
                                            <div class="desktop-hide selected-value">Default</div>
                                            <i class='bx bx-chevron-down'></i>
                                        </div>
                                        <ul>
                                            <li data-option="0">Default</li>
                                            <li data-option="1">Customer rating: from the best</li>
                                            <li data-option="2">Price: from the cheapest</li>
                                            <li data-option="3">Price: from the most expensive</li>
                                        </ul>
                                    </div>
                                    <div class="item-options">
                                        <div class="label">
                                            <span class="mobile-hide">Show <span class="selected-value">15</span> per page</span>
                                            <div class="desktop-hide selected-value">15</div>
                                            <i class='bx bx-chevron-down'></i>
                                        </div>
                                        <ul>
                                            <li data-option="15">15 items</li>
                                            <li data-option="20">20 items</li>
                                            <li data-option="25">25 items</li>
                                            <li data-option="30">30 items</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="products main">
                            @await Component.InvokeAsync("ProductCardsList", new { model = Model.ProductsPage?.Products })
                        </div>
                        <div class="pagination">
                            <button id="startBtn" class="page-btn" disabled>
                                <i class="fa-solid fa-angles-left"></i>
                            </button>
                            <button id="prevBtn" class="page-btn prevNext" disabled>
                                <i class="fa-solid fa-angle-left"></i>
                            </button>

                            <div class="page-links">
                                @if (Model.ProductsPage?.TotalPages <= 5)
                                    @for (int i = 1; i <= Model.ProductsPage?.TotalPages; i++)
                                    {
                                        <a asp-controller="Catalog" asp-action="Index" asp-route-categoryid="@Model.ProductsPage?.Category?.Id" asp-route-page="@i" class="page-link">@i</a>
                                    }
                                else
                                if (Model.ProductsPage?.CurrentPage < 5)
                                    for (int i = 1; i < 5; i++)
                                    {
                                        <a asp-route="products" asp-route-subcatid="@Model.ProductsPage.Category?.Id" asp-route-page="@i" class="page-link">@i</a>
                                    }
                                else if (Model.ProductsPage?.CurrentPage > Model.ProductsPage?.TotalPages - 4)
                                    for (int i = Model.ProductsPage.TotalPages - 4; i <= Model.ProductsPage?.TotalPages; i++)
                                    {
                                        <a asp-route="products" asp-route-subcatid="@Model.ProductsPage?.Category?.Id" asp-route-page="@i" class="page-link">@i</a>
                                    }
                                else
                                    for (int i = (Model.ProductsPage?.CurrentPage ?? default) - 2; i <= Model.ProductsPage?.CurrentPage + 2; i++)
                                    {
                                        <a asp-route="products" asp-route-subcatid="@Model.ProductsPage?.Category?.Id" asp-route-page="@i" class="page-link">@i</a>
                                    }
                            </div>

                            <button id="nextBtn" class="page-btn prevNext">
                                <i class="fa-solid fa-angle-right"></i>
                            </button>
                            <button id="endBtn" class="page-btn">
                                <i class="fa-solid fa-angles-right"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script src="~/scripts/catalog.min.js" asp-append-version="true"></script>
    <script src="~/scripts/double-slider.min.js" asp-append-version="true"></script>
}