@model OnlineStore.MVC.Models.Product.ProductViewModel

@{
    ViewData["Title"] = Model.Name;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="product-details-section">
    <div class="container">
        <div class="wrapper flexitem">
            <div style="background-image:url(@Model.Image?.Replace('\\','/'))" class="product-image">
            </div>
            <div class="product-details-wrap">
                <div class="product-details-header">
                    <h1 class="product-details-name">@Model.Name</h1>
                    <div class="product-rating">
                        <a class="rating-link" asp-fragment="reviews">
                            @for (int i = 0; i < Math.Floor(Model.Rating); i++)
                            {
                                <span class="rating-star">
                                    <img src="~/resources/icons/star.png" loading="lazy" alt="★">
                                </span>
                            }
                            @if (Model.Rating % 1.0 > 0.3)
                            {
                                <span class="rating-star">
                                    <img src="~/resources/icons/half-star.png" loading="lazy" alt="★">
                                </span>
                            }
                            @for (int i = (int)Math.Ceiling(Model.Rating); i < 5; i++)
                            {
                                <span class="rating-star">
                                    <img src="~/resources/icons/empty-star.png" loading="lazy" alt="★">
                                </span>
                            }
                            <span class="reviews-quantity">@Model.ReviewsCount reviews</span>
                        </a>
                    </div>
                    <div class="product-details-price">@Model.UnitPrice.ToString("C") USD</div>
                    <div class="paragraph-light">
                        @if (Model.Manufacturer != null)
                        {
                            <span>Manufacturer: @Model.Manufacturer | </span>
                        }
                        @if (Model.ManufacturersCode != null)
                        {
                            <span>ManufacturersCode: @Model.ManufacturersCode | </span>

                            <br />
                        }
                        @if (Model.StoreCode != null)
                        {
                            <span>Code: @Model.StoreCode</span>
                        }
                    </div>
                </div>
                <div class="divider dark-divider"></div>
                <div class="product-specs">
                    <ul role="list" class="w-list-unstyled">
                        <li class="list-item">
                            <div class="paragraph-light">Dimensions</div>
                            <div class="product-detail-measurement">
                                <div>32</div>
                                <div class="product-detail-unit-text middle-text">in x</div>
                                <div>36</div>
                                <div class="product-detail-unit-text middle-text">in x</div>
                                <div>54</div>
                                <div class="product-detail-unit-text">in</div>
                            </div>
                        </li>
                        <li class="list-item">
                            <div class="paragraph-light">Weight</div>
                            <div class="product-detail-measurement">
                                <div>45</div>
                                <div class="product-detail-unit-text">oz</div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="divider"></div>
                <div class="actions">
                    <div class="qty-control">
                        <button class="qty-minus">-</button>
                        <input id="productQuantity" type="text" value="1" min="1" pattern="^[0-9]+$">
                        <button class="qty-plus">+</button>
                    </div>
                    <input type="submit" data-itemid="@Model.Id" value="Add to Cart" class="button black add-to-cart-btn">
                    <div class="wish-share">
                        <a class="add-to-wishlist-btn" data-itemid="@Model.Id">
                            <img src="~/resources/icons/like.png" alt="Wishlist">
                            <span>Wishlist</span>
                        </a>
                        <a>
                            <img src="~/resources/icons/share.png" alt="Share">
                            <span>Share</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="description-section">
    <div class="container">
        <h3 class="dividing-header">Description</h3>
        <p class="decription-paragraph">@Model.Description</p>
    </div>
</section>

@if (Model.Specifications != null && Model.Specifications.Count > 0)
{
    <section class="full-specs-section">
        <div class="container">
            <h3 class="dividing-header">Specifications</h3>
            <table class="ui definition table">
                <tbody>
                    @foreach (var spec in Model.Specifications)
                    {
                        <tr>
                            <td>@spec.Name</td>
                            <td>@spec.Value</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </section>
}

<a name="reviews"></a>
<section class="reviews-section">
    <div class="container">
        <h3 class="dividing-header">Reviews</h3>
        <div class="reviews-block">
            <div class="reviews-block-head">
                <div class="left-part">
                    <div class="rate-block">
                        <span class="rate-sum">@Model.Rating </span>
                        <span class="full-rate"> / 5.0</span>
                    </div>
                    <div class="product-rating">
                        @for (int i = 0; i < Math.Floor(Model.Rating); i++)
                        {
                            <span class="rating-star">
                                <img src="~/resources/icons/star.png" loading="lazy" alt="★">
                            </span>
                        }
                        @if (Model.Rating % 1.0 > 0.3)
                        {
                            <span class="rating-star">
                                <img src="~/resources/icons/half-star.png" loading="lazy" alt="★">
                            </span>
                        }
                        @for (int i = (int)Math.Ceiling(Model.Rating); i < 5; i++)
                        {
                            <span class="rating-star">
                                <img src="~/resources/icons/empty-star.png" loading="lazy" alt="★">
                            </span>
                        }
                    </div>
                    <span class="reviews-quantity">(@Model.ReviewsCount reviews)</span>
                </div>
                <a asp-fragment="review-form" class="button black">Write review</a>
            </div>
            <div class="reviews-block-body">
                <div class="reviews-list">
                    <div class="review-item">
                        <div class="review-form">
                            <p class="person">Review by John</p>
                            <p class="paragraph-light">On 21.08.2023</p>
                        </div>
                        <div class="review-rating">
                            <span class="rating-star">
                                <img src="~/resources/icons/star.png" loading="lazy" alt="★">
                            </span>
                            <span class="rating-star">
                                <img src="~/resources/icons/star.png" loading="lazy" alt="★">
                            </span>
                            <span class="rating-star">
                                <img src="~/resources/icons/star.png" loading="lazy" alt="★">
                            </span>
                            <span class="rating-star">
                                <img src="~/resources/icons/star.png" loading="lazy" alt="★">
                            </span>
                            <span class="rating-star">
                                <img src="~/resources/icons/half-star.png" loading="lazy" alt="★">
                            </span>
                        </div>
                        <div class="review-title">
                            <p>Good!</p>
                        </div>
                        <div class="review-text">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        </div>
                    </div>
                    <div class="review-item">
                        <div class="review-form">
                            <p class="person">Review by Alex</p>
                            <p class="paragraph-light">On 21.08.2023</p>
                        </div>
                        <div class="review-rating">
                            <span class="rating-star">
                                <img src="~/resources/icons/star.png" loading="lazy" alt="★">
                            </span>
                            <span class="rating-star">
                                <img src="~/resources/icons/star.png" loading="lazy" alt="★">
                            </span>
                            <span class="rating-star">
                                <img src="~/resources/icons/star.png" loading="lazy" alt="★">
                            </span>
                            <span class="rating-star">
                                <img src="~/resources/icons/star.png" loading="lazy" alt="★">
                            </span>
                            <span class="rating-star">
                                <img src="~/resources/icons/half-star.png" loading="lazy" alt="★">
                            </span>
                        </div>
                        <div class="review-title">
                            <p>Good!</p>
                        </div>
                        <div class="review-text">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        </div>
                    </div>
                </div>
            </div>
            <a name="review-form"></a>
            <div class="review-form">
                <h4>Write a review</h4>
                <div class="rating">
                    <div class="form-field">Are you satisfied enought?</div>
                    <div class="rate-this" id="reviewRating">
                        <input type="radio" name="rating" id="star5">
                        <label for="star5"><img src="~/resources/icons/empty-star.png"></label>

                        <input type="radio" name="rating" id="star4">
                        <label for="star4"><img src="~/resources/icons/empty-star.png"></label>

                        <input type="radio" name="rating" id="star3">
                        <label for="star3"><img src="~/resources/icons/empty-star.png"></label>

                        <input type="radio" name="rating" id="star2">
                        <label for="star2"><img src="~/resources/icons/empty-star.png"></label>

                        <input type="radio" name="rating" id="star1">
                        <label for="star1"><img src="~/resources/icons/empty-star.png"></label>
                    </div>
                </div>
                <div class="review-fields">
                    <div class="form-field">
                        <label>Title</label>
                        <input type="text" id="reviewTitle">
                        <div id="reviewTitleError" class="errors-area">
                            <i class="fa-solid fa-circle-exclamation"></i>
                            <span></span>
                        </div>
                    </div>
                    <div class="form-field">
                        <label>Review</label>
                        <textarea cols="30" rows="7" type="text" id="reviewMessage"></textarea>
                        <div id="reviewMessageError" class="errors-area">
                            <i class="fa-solid fa-circle-exclamation"></i>
                            <span></span>
                        </div>
                    </div>
                    <input type="number" value="@Model.Id" id="reviewProduct" readonly hidden />
                    <button class="button black review-btn" type="submit">Submit Review</button>
                    <div id="reviewError" class="errors-area">
                        <i class="fa-solid fa-circle-exclamation"></i>
                        <span></span>
                    </div>
                    <div id="reviewSuccess" class="success-msg">
                        <i class="fa-regular fa-circle-check"></i>
                        <span>Your review has been successfully posted for moderation.</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>