@model CheckoutViewModel;

@{
    ViewData["Title"] = "Checkout";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="checkout">
    <div class="container">
        <form class="checkout-wrapper" asp-controller="Cart" asp-action="Checkout" method="post">
            <header class="header">
                <h1>Delivery and payment</h1>
            </header>

            <div class="checkout-col">
                <div class="checkout-box">
                    <h3>Delivery method</h3>

                    @await Component.InvokeAsync("ShippingMethods")
                </div>

                <div class="checkout-box">
                    <h3 class="box-title">Delivery address</h3>

                    <div class="box-form">
                        <label class="control" asp-for="Order.Email">
                            <input asp-for="Order.Email" type="email" inputmode="email" placeholder="" required>
                            <span class="label">
                                <span>Email</span>
                            </span>
                        </label>

                        <label class="control" asp-for="Order.FirstName">
                            <input asp-for="Order.FirstName" type="text" placeholder="" required>
                            <span class="label">
                                <span>First Name</span>
                            </span>
                        </label>

                        <label class="control" asp-for="Order.LastName">
                            <input asp-for="Order.LastName" type="text" placeholder="" required>
                            <span class="label">
                                <span>Last Name</span>
                            </span>
                        </label>

                        <div class="field address">
                            <label class="control field-item" asp-for="Order.StreetAddress">
                                <input asp-for="Order.StreetAddress" type="text" placeholder="" required>
                                <span class="label">
                                    <span>Street Address</span>
                                </span>
                            </label>

                            <label class="control field-item" asp-for="Order.Apartment">
                                <input asp-for="Order.Apartment" type="text" maxlength="8" placeholder="" required>
                                <span class="label">
                                    <span>Apartment</span>
                                </span>
                            </label>
                        </div>

                        <label class="control" asp-for="Order.City">
                            <input asp-for="Order.City" type="text" placeholder="" required>
                            <span class="label">
                                <span>City</span>
                            </span>
                        </label>

                        <label class="control" asp-for="Order.State">
                            <input asp-for="Order.State" type="text" placeholder="" required>
                            <span class="label">
                                <span>State / Province</span>
                            </span>
                        </label>

                        <label class="control" asp-for="Order.Postcode">
                            <input asp-for="Order.Postcode" type="text" maxlength="10" placeholder="" required>
                            <span class="label">
                                <span>Zip / Postal Code</span>
                            </span>
                        </label>

                        <label class="control" asp-for="Order.Country">
                            <select asp-for="Order.Country">
                                <option value="1" selected="selected">United States</option>
                                <option value="2">Canada</option>
                                <option value="3">Australia</option>
                                <option value="4">Japan</option>
                                <option value="5">Others</option>
                            </select>
                            <span class="label">
                                <span>Country</span>
                            </span>
                        </label>

                        <label class="control" asp-for="Order.Phone">
                            <input asp-for="Order.Phone" type="text" inputmode="tel" placeholder="" required>
                            <span class="label">
                                <span>Phone</span>
                            </span>
                        </label>

                        <label class="control" asp-for="Order.Notes">
                            <textarea asp-for="Order.Notes" placeholder="" maxlength="64"></textarea>
                            <span class="label">
                                <span>Notes (optional)</span>
                            </span>
                        </label>

                        <input type="hidden" asp-for="UseUnauthCart" />
                    </div>
                </div>

                <div class="checkout-box">
                    <h3>Delivery method</h3>

                    @await Component.InvokeAsync("PaymentMethods")
                </div>
            </div>

            <div class="checkout-col">
                <div class="checkout-box summary">
                    <div class="checkout-products">
                        @if (!Model.Cart.IsEmpty)
                            foreach (var cartItem in Model.Cart.Items)
                                if (cartItem.Product is { })
                                {
                                    <div class="item-line">
                                        <a class="img-container" asp-controller="Catalog" asp-action="Product" asp-route-id="@cartItem.ProductId">
                                            <img src="@cartItem.Product.Image" alt="Image">
                                        </a>

                                        <div class="item-content">
                                            <a class="item-link" asp-controller="Catalog" asp-action="Product" asp-route-id="@cartItem.ProductId">
                                                @cartItem.Product.Name
                                            </a>

                                            <span class="item-details">
                                                <span>@cartItem.Quantity pcs.</span>
                                                <span>@cartItem.Product.UnitPrice.ToString("C")</span>
                                            </span>
                                        </div>
                                    </div>
                                }
                    </div>

                    <div class="checkout-summary">
                        <div class="summary-line">
                            Subtotal
                            <span class="line-value">@Model.Cart.Subtotal.ToString("C")</span>
                        </div>

                        <div class="summary-line">
                            Discount
                            <span class="line-value">-@Model.Cart.Discount.ToString("C")</span>
                        </div>

                        <div class="summary-line">
                            Delivery and service
                            <span class="line-value">$10.00</span>
                        </div>
                    </div>

                    <hr class="checkout-divider" />

                    <div class="checkout-total">
                        <div class="total-line">
                            Total
                            <span class="line-value">@Model.Cart.Total.ToString("C")</span>
                        </div>

                        <button class="button black" type="submit">Place</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<partial name="_Newsletter" />