@model CheckoutViewModel;

@{
    ViewData["Title"] = "Checkout";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="single-checkout">
    <div class="container">
        <div class="wrapper">
            <div class="checkout flexwrap">
                <div class="item left styled">
                    <h1>Shipping Address</h1>
                    <form asp-controller="Cart" asp-action="Checkout" method="post">
                        <div class="field">
                            <label asp-for="Order.Email">Email Address <span></span></label>
                            <input asp-for="Order.Email" type="email" autocomplete="off" required>
                        </div>
                        <div class="field">
                            <label asp-for="Order.FirstName">First Name <span></span></label>
                            <input asp-for="Order.FirstName" type="text" required>
                        </div>
                        <div class="field">
                            <label asp-for="Order.LastName">Last Name <span></span></label>
                            <input asp-for="Order.LastName" type="text" required>
                        </div>
                        <div class="field">
                            <label asp-for="Order.StreetAddress">Street Address <span></span></label>
                            <input asp-for="Order.StreetAddress" type="text" required>
                            <input asp-for="Order.Apartment" type="text" required>
                        </div>
                        <div class="field">
                            <label asp-for="Order.City">City <span></span></label>
                            <input asp-for="Order.City" type="text" required>
                        </div>
                        <div class="field">
                            <label asp-for="Order.State">State / Province <span></span></label>
                            <input asp-for="Order.State" type="text" required>
                        </div>
                        <div class="field">
                            <label asp-for="Order.Postcode">Zip / Postal Code <span></span></label>
                            <input asp-for="Order.Postcode" type="number" required>
                        </div>
                        <div class="field">
                            <label asp-for="Order.Country">Country <span></span></label>
                            <select asp-for="Order.Country">
                                <option value=""></option>
                                <option value="1" selected="selected">United States</option>
                                <option value="2">Canada</option>
                                <option value="3">Australia</option>
                                <option value="4">Japan</option>
                                <option value="5">Others</option>
                            </select>
                        </div>
                        <div class="field">
                            <label asp-for="Order.Phone">Phone Number <span></span></label>
                            <input asp-for="Order.Phone" type="number" required>
                        </div>
                        <div class="field">
                            <label asp-for="Order.Notes">Order Notes (optional)</label>
                            <textarea asp-for="Order.Notes" cols="30" rows="3" type="number"></textarea>
                        </div>
                        <div class="field checkset">
                            <input type="checkbox" id="anaccount">
                            <label for="anaccount">Create an account?</label>
                        </div>
                        <div class="shipping-methods">
                            <h2>Shipping Methods</h2>
                            <div class="field rate-options">
                                <p>
                                    <span>Flat: $10.00</span>
                                    @Html.RadioButtonFor(model => model.Order.ShippingCost, 10)
                                    <label for="flat" class="circle"></label>
                                </p>
                                <p>
                                    <span>Best: $0.00</span>
                                    @Html.RadioButtonFor(model => model.Order.ShippingCost, 0)
                                    <label for="best" class="circle"></label>
                                </p>
                            </div>
                        </div>
                        <div class="primary-checkout">
                            <button class="primary-button" type="submit">Place And Pay</button>
                        </div>
                    </form>
                </div>
                <div class="item right">
                    <h2>Order Summary</h2>
                    <div class="summary-order">
                        <div class="summary-totals">
                            <ul>
                                <li>
                                    <span>Subtotal</span>
                                    <span>@Model.Cart.Subtotal.ToString("C")</span>
                                </li>
                                <li>
                                    <span>Discount</span>
                                    <span>-@Model.Cart.Discount.ToString("C")</span>
                                </li>
                                <li>
                                    <span>Shipping: Flat</span>
                                    <span>$10.00</span>
                                </li>
                                <li>
                                    <span>Total</span>
                                    <strong>@Model.Cart.Subtotal.ToString("C")</strong>
                                </li>
                            </ul>
                        </div>
                        <ul class="products mini">
                            @if (!Model.Cart.IsEmpty)
                                foreach (var cartItem in Model.Cart.Items)
                                    if (cartItem.Product is { })
                                    {
                                        <li class="item">
                                            <div class="thumbnail object-contain">
                                                <img src="@cartItem.Product.Image" alt="Image">
                                            </div>
                                            <div class="item-content">
                                                <p>@cartItem.Product.Name</p>
                                                <span class="price">
                                                    <span>$@cartItem.Product.UnitPrice</span>
                                                    <span>x @cartItem.Quantity</span>
                                                </span>
                                            </div>
                                        </li>
                                    }
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<partial name="_Newsletter" />