@model OnlineStore.MVC.Models.Cart.CartViewModel

@{
    ViewData["Title"] = "Cart";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="single-cart">
    <div class="container">
        <div class="wrapper">
            @if (!Model.IsEmpty)
            {
                <div class="page-title">
            <h1>Cart (@Model.ItemsQuantity)</h1>
            </div>
                <div class="products one cart">
                <div class="flexwrap">
                    <div class="products-list cart">
                        <div class="products-list-header cart">
                            <div class="actions">
                                <button class="remove-selected">
                                    <i class='bx bx-trash-alt'></i>
                                    Clear cart
                                </button>
                            </div>
                        </div>
                        @foreach (var item in Model.Items)
                        {
                                <div class="products-list-line">
                                    <div class="left-part">
                                        <div class="line-image">
                                            <a asp-controller="Catalog" asp-action="Product" asp-route-id="@item.ProductId">
                                                <img src="@item.Product?.Image" alt="Image">
                                            </a>
                                        </div>
                                    </div>
                                    <div class="middle-part">
                                        <a asp-controller="Catalog" asp-action="Product" asp-route-id="@item.ProductId">
                                            @item.Product?.Name
                                        </a>
                                        <p>@item.Product?.PriceAfterDiscount.ToString("C")</p>
                                    </div>
                                    <div class="right-part">
                                        <div class="qty-control flexitem">
                                            <button class="qty-minus">-</button>
                                            <input class="qty-value cart"
                                                   type="text"
                                                   value="@item.Quantity"
                                                   data-productid="@item.ProductId"
                                                   min="1"
                                                   pattern="^[0-9]+$">
                                            <button class="qty-plus">+</button>
                                        </div>
                                        <button class="to-wishlist" data-itemid="@item.ProductId">
                                            <i class='bx bx-heart'></i>
                                        </button>
                                        <button class="item-remove from-cart" data-itemid="@item.ProductId">
                                            <i class='bx bx-trash-alt'></i>
                                        </button>
                                    </div>
                                </div>
                        }
                    </div>
                    <div class="cart-summary styled">
                        <div class="item">
                            <div class="coupon">
                                <input type="text" placeholder="Enter coupon">
                                <button>Apply</button>
                            </div>
                            <div class="shipping-rate collapse">
                                <div class="has-child expand">
                                    <a href="#" class="icon-small">Estimate Shipping and Tax</a>
                                    <div class="content">
                                        <div class="countries">
                                            <div class="item-content">
                                                <label for="country">Country</label>
                                                <div class="select-container">
                                                    <select name="country" id="country">
                                                        <option value=""></option>
                                                        <option value="1" selected="selected">United States</option>
                                                        <option value="2">Canada</option>
                                                        <option value="3">Australia</option>
                                                        <option value="4">Japan</option>
                                                        <option value="5">Others</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="states">
                                            <div class="item-content">
                                                <label for="state">State/Province</label>
                                                <div class="select-container">
                                                    <select name="state" id="state">
                                                        <option value="">Select a region, satate or province</option>
                                                        <option value="1">New York</option>
                                                        <option value="2">Texas</option>
                                                        <option value="3">Arizona</option>
                                                        <option value="4">Alaska</option>
                                                        <option value="5">Others</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="rate-options variant">
                                            <div class="item-content">
                                                <p>
                                                    <span>Flat: $10.00</span>
                                                    <input type="radio" name="rate-option" id="flat" checked>
                                                    <label for="flat" class="circle"></label>
                                                </p>
                                                <p>
                                                    <span>Best: $0.00</span>
                                                    <input type="radio" name="rate-option" id="best">
                                                    <label for="best" class="circle"></label>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="cart-total">
                                <table>
                                    <tbody>
                                        <tr>
                                            <th>Subtotal</th>
                                            <td><span class="subtotal-price">@Model.Subtotal.ToString("C")</span></td>
                                        </tr>
                                        <tr>
                                            <th>Discount</th>
                                            <td><span class="total-discount">@Model.Discount.ToString("C")</span></td>
                                        </tr>
                                        <tr>
                                            <th>Shipping<span class="mini-text">(Flat)</span></th>
                                            <td>$10.00</td>
                                        </tr>
                                        <tr>
                                            <th>TOTAL</th>
                                            <td><strong class="total-price">@Model.Subtotal.ToString("C")</strong></td>
                                        </tr>
                                    </tbody>
                                </table>
                                <a asp-controller="Cart" asp-action="Login" class="button black">
                                    Checkout
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            }
            else
            {
                <div class="content-block empty-cart">
                    <div class="text-block">
                        <h2>Your cart is empty</h2>
                        <p>Dive into the latest gadgets and gear that will transform your world. From smart home hubs to immersive gaming experiences, explore the possibilities waiting to be unlocked.</p>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

<partial name="_Newsletter" />