@model OnlineStore.MVC.Models.Cart.CartViewModel

@{
    ViewData["Title"] = "Cart";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="single-cart">
    <div class="container">
        <div class="wrapper">
            @if (!Model.IsEmpty)
            {
                <div class="products one cart">
                    <div class="flexwrap">
                        <div class="products-list cart">
                            <div class="products-list-header cart">
                                <h2 class="title">
                                    Cart 
                                    <span>(@Model.ItemsQuantity)</span>
                                </h2>

                                <div class="actions">
                                    <button class="remove-selected">
                                        <img src="~/resources/svg-icons/trash.svg" />

                                        <span>Clear cart</span>
                                    </button>
                                </div>
                            </div>

                            <div class="products-list-content">
                                @foreach (var item in Model.Items)
                                {
                                    <div class="products-list-line">
                                        <div class="line-container">
                                            <div class="left-part">
                                                <div class="line-image">
                                                    <a asp-controller="Catalog" asp-action="Product" asp-route-id="@item.ProductId">
                                                        <img src="@item.Product?.Image" alt="Image">
                                                    </a>
                                                </div>
                                            </div>

                                            <div class="middle-part">
                                                <a asp-controller="Catalog" asp-action="Product" asp-route-id="@item.ProductId">
                                                    @item.Product?.Name
                                                </a>

                                                <p>@item.Product?.PriceAfterDiscount.ToString("C")</p>
                                            </div>

                                            <div class="right-part">
                                                <div class="qty-control flexitem">
                                                    <button class="qty-minus">-</button>

                                                    <input class="qty-value cart"
                                                           type="text"
                                                           value="@item.Quantity"
                                                           data-productid="@item.ProductId"
                                                           min="1"
                                                           pattern="^[0-9]+$">

                                                    <button class="qty-plus">+</button>
                                                </div>

                                                <button class="to-wishlist" data-itemid="@item.ProductId">
                                                    <img src="~/resources/svg-icons/to-wishlist.svg" />
                                                </button>

                                                <button class="item-remove from-cart" data-itemid="@item.ProductId">
                                                    <img src="~/resources/svg-icons/trash.svg" />
                                                </button>
                                            </div>
                                        </div>

                                        <div class="bottom-part">
                                            <button class="item-remove from-cart" data-itemid="@item.ProductId">
                                                <img src="~/resources/svg-icons/trash.svg" />
                                            </button>

                                            <div class="qty-control flexitem">
                                                <button class="qty-minus">-</button>

                                                <input class="qty-value cart"
                                                       type="text"
                                                       value="@item.Quantity"
                                                       data-productid="@item.ProductId"
                                                       min="1"
                                                       pattern="^[0-9]+$">

                                                <button class="qty-plus">+</button>
                                            </div>

                                            <button class="to-wishlist" data-itemid="@item.ProductId">
                                                <img src="~/resources/svg-icons/to-wishlist.svg" />
                                            </button>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>

                        <div class="cart-summary">
                            <div class="checkout-box summary">
                                <div class="checkout-summary">
                                    <div class="summary-line">
                                        Subtotal
                                        <span class="line-value">@Model.Subtotal.ToString("C")</span>
                                    </div>

                                    <div class="summary-line">
                                        Discount
                                        <span class="line-value">-@Model.Discount.ToString("C")</span>
                                    </div>
                                </div>

                                <hr class="checkout-divider" />

                                <div class="checkout-total">
                                    <div class="total-line">
                                        Total
                                        <span class="line-value">@Model.Total.ToString("C")</span>
                                    </div>

                                    <a asp-controller="Cart" asp-action="Login" class="button black">Proceed to checkout</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
            else
            {
                <div class="content-block empty-cart">
                    <div class="text-block">
                        <h2>Your cart is empty</h2>
                        <p>Dive into the latest gadgets and gear that will transform your world. From smart home hubs to immersive gaming experiences, explore the possibilities waiting to be unlocked.</p>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

<partial name="_Newsletter" />