@model Wishlist

@{
    ViewData["Title"] = "Your Wishlist";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="single-cart">
    <div class="container">
        <div class="wrapper">
            <div class="breadcrumb">
                <ul class="flexitem">
                    <li><a asp-controller="Home" asp-action="Index">Home</a></li>
                    <li>Wishlist</li>
                </ul>
            </div>
@*             <div class="page-title">
                <h1>Wishlist (@Model.TotalQuantity)</h1>
            </div> *@
            <div class="products one cart">
                <div class="flexwrap">
                    <form action="" class="form-cart">
                        <div class="item">
                            <table id="cart-table">
                                <thead>
                                    <tr>
                                        <th>Item</th>
                                        <th>Price</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (Model.Products != null && Model.Products.Count() > 0)
                                    {
                                        @foreach (var product in Model.Products)
                                        {
                                            <tr>
                                                <td class="flexitem">
                                                    <div class="thumbnail object-contain">
                                                        <a href="#"><img src="@product.Image" alt=""></a>
                                                    </div>
                                                    <div class="content">
                                                        <strong><a href="#">@product.Name</a></strong>
                                                        <p>RAM: 16 Gb</p>
                                                    </div>
                                                </td>
                                                <td>$@product.UnitPrice</td>
                                                <td>
                                                    <a href="#" class="item-add-to-cart" data-itemid="@product.Id">
                                                        <img src="~/resources/icons/shopping-cart.png" alt="">
                                                    </a>
                                                    <a href="#" class="item-remove from-wishlist" data-itemid="@product.Id">
                                                        <img src="~/resources/icons/close.png" alt="">
                                                    </a>
                                                </td>
                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </form>
                    <div class="cart-summary styled">
                        <div class="item">
                            <div class="cart-total">
@*                                 <table>
                                    <tbody>
                                        <tr>
                                            <th>Subtotal</th>
                                            <td>$@Model.SubtotalPrice</td>
                                        </tr>
                                        <tr>
                                            <th>Discount</th>
                                            <td>$@Model.TotalDiscount</td>
                                        </tr>
                                        <tr>
                                            <th>TOTAL</th>
                                            <td><strong>$@Model.TotalPrice</strong></td>
                                        </tr>
                                    </tbody>
                                </table> *@
                                <a asp-controller="Product" asp-action="AddAllWishlistToCart" asp-route-wishlistId="@Model.Id" class="secondary-button">
                                    Add available to cart
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<partial name="_Newsletter" />