@model IEnumerable<IGrouping<string, OnlineStore.MVC.Models.Order.OrderViewModel>>?

<div class="acc-section">
    <div class="container">
        <div class="acc-wrapper">
            <partial name="_AccountMenu" />
            <div class="acc-content">
                <div class="content-box">
                    @if (Model?.Any() is true)
                    {
                        <header class="box-header">
                            <h2>Orders</h2>
                        </header>

                        @foreach (var item in Model)
                        {
                            <div class="orders-list">
                                <div class="orders-list-header">
                                    @item.Key
                                </div>

                                @foreach (var order in item)
                                {
                                    <a asp-controller="Account" asp-action="OrderDetails" asp-route-orderNumber="@order.Number" class="orders-list-line">
                                        <div class="left-part">
                                            <h3>@order.Status.ToString()</h3>
                                            <span>@order.CreationDate.ToString("dd MMMM yyyy")</span>
                                            <span>@order.Number</span>
                                            @if (order.Status > OnlineStore.MVC.Models.Enums.OrderStatus.NotPaid)
                                            {
                                                <span class="price">@order.Total.ToString("C")</span>
                                            }
                                        </div>
                                        <div class="right-part">
                                            @if (order.Items.Count() > 1)
                                            {
                                                foreach (var orderItem in order.Items)
                                                {
                                                    <div class="line-image">
                                                        <img src="@orderItem.Product?.Image" alt="Image">
                                                    </div>
                                                }
                                            }
                                            else
                                            {
                                                <div class="line-image">
                                                    <img src="@order.Items.First().Product?.Image" alt="Image">
                                                </div>
                                                <p>@order.Items.First().Product?.Name</p>
                                            }
                                        </div>
                                    </a>
                                }
                        </div>
                        }
                    }
                    else
                    {
                        <div class="content-block no-orders">
                            <div class="text-block">
                                <h3>No orders</h3>
                                <p>You have not placed any orders yet.</p>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>