@model OnlineStore.MVC.Models.Order.OrderViewModel

<div class="acc-section">
    <div class="container">
        <div class="acc-wrapper">
            @await Component.InvokeAsync("AccountMenu", new { id = 1 })
            <div class="acc-content">
                <div class="content-box">
                    <a class="back-to-menu" asp-controller="Account" asp-action="Orders">
                        <i class='bx bx-chevron-left'></i>
                        <span>All Orders</span>
                    </a>
                    <header class="box-header stretch">
                        <div class="left-part">
                            <h3>Order number <span>@Model.Number</span></h3>
                            <p>placed @Model.CreationDate.ToString("MMMM dd, yyyy")</p>
                        </div>
                        <div class="right-part">
                            <h3>@Model.Status.ToString()</h3>
                        </div>
                    </header>

                    <h3 class="order-details-header">Delivery</h3>
                    <div class="order-detail-stretch-box">
                        <div class="stretch-box-content">
                            <i class='bx bx-package'></i>
                            <div class="info">
                                <p>Courier - DHL</p>
                                <span>Fast delivery</span>
                            </div>
                        </div>
                    </div>

                    <div class="details-double-box">
                        <div class="order-detail-box">
                            <h4 class="order-details-header">
                                Pickup Address
                            </h4>
                            <div class="box-content">
                                <h5>@Model.StreetAddress, @Model.Apartment</h5>
                                <p>@Model.Postcode @Model.City</p>
                                <p>@Model.State</p>
                                <p>@Model.Country</p>
                            </div>
                        </div>
                        <div class="order-detail-box">
                            <h4 class="order-details-header">
                                The recipient's details
                            </h4>
                            <div class="box-content">
                                <h5>@Model.FirstName @Model.LastName</h5>
                                <p>@Model.Phone</p>
                                <p>@Model.Email</p>
                            </div>
                        </div>
                    </div>

                    <h3 class="order-details-header">Payment method</h3>
                    <div class="order-detail-stretch-box">
                        <div class="stretch-box-content">
                            <i class='bx bx-wallet'></i>
                            <div class="info">
                                <p>@Model.PaymentMethod</p>
                            </div>
                        </div>
                    </div>

                    <h3 class="order-details-header">Goods</h3>
                    <div class="products-list">
                        <div class="products-list-header empty"></div>
                        @foreach (var item in Model.Items)
                        {
                            <div class="products-list-line">
                                <div class="left-part">
                                    <div class="line-image">
                                        <a asp-controller="Catalog" asp-action="Product" asp-route-id="@item.ProductId">
                                            <img src="@item.Product?.Image" alt="Image">
                                        </a>
                                    </div>
                                </div>
                                <div class="middle-part">
                                    <a asp-controller="Catalog" asp-action="Product" asp-route-id="@item.ProductId">
                                        @item.Product?.Name
                                    </a>
                                </div>
                                <div class="right-part">
                                    <div class="unit-price">
                                        @if (item.Discount > 0)
                                        {
                                            <span class="without-disc">@item.UnitPrice.ToString("C")</span>
                                        }
                                        <span>@((item.UnitPrice - item.Discount).ToString("C")) </span>
                                    </div>
                                    <div class="quantity">
                                        <span>x @item.Quantity pcs.</span>
                                    </div>
                                    <div class="line-price">
                                        <span>@((item.UnitPrice * item.Quantity).ToString("C"))</span>
                                    </div>
                                </div>
                            </div>
                        }
                        <div class="products-list-summary">
                            <div class="products-count">
                                @(Model.Items.Count > 1 ? $"{Model.Items.Count} products" : "1 product")
                            </div>
                            <div class="products-total">
                                <div class="total-lines">
                                    <div class="total-line">
                                        <span>Subtotal:</span>
                                        <span>@Model.Subtotal.ToString("C")</span>
                                    </div>
                                    <div class="total-line">
                                        <span>Discount:</span>
                                        <span>-@Model.Discount.ToString("C")</span>
                                    </div>
                                    <div class="total-line">
                                        <span>Delivery:</span>
                                        <span>@Model.ShippingCost.ToString("C")</span>
                                    </div>
                                </div>
                                <div class="total-sum">
                                    <span>Total:</span>
                                    <span>@Model.Total.ToString("C")</span>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>