@model IEnumerable<OnlineStore.MVC.Models.Category.CategoryViewModel>

@if (Model.Any())
{
    <div class="nav-link-menu">
        <div class="dpt-menu">
            <div class="second-links">
                @foreach (var category in Model)
                    if (category.IsMainCategory)
                    {
                        <div class="link-item @(category.HasChildCategories ? "has-child" : string.Empty)">
                            <a asp-controller="Catalog" asp-action="Index" asp-route-categoryId="@category.Id" class="main-link">
                                @category.Name
                            </a>
                            @if (category.HasChildCategories)
                            {
                                <div class="child-menu">
                                    @foreach (var childCategory in category.ChildCategories)
                                    {
                                        <a asp-controller="Catalog" asp-action="Index" asp-route-categoryId="@childCategory.Id">
                                            @childCategory.Name
                                        </a>
                                    }
                                </div>
                            }
                        </div>
                    }
            </div>
        </div>
    </div>
}